CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.orig
*.o
*.in
Makefile
aclocal.m4
ar-lib
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
*.swp
tools/.deps
*.dSYM
